<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDMwrO8u-ZK7wJunTXx04XkonZ86Y6yzrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>144710063111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.payroll.payrollApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>the-payroll-system</string>
	<key>STORAGE_BUCKET</key>
	<string>the-payroll-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144710063111:ios:509f1fad674115378cc6a2</string>
</dict>
</plist>