<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Department</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        /* Form Section */
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25vh;
        }

        /* Form Text */
        .form-control {
            font-size: 14px;
        }

        /* Table Data */
        table.table td {
            font-size: 14px;
            padding: 0.5rem;
        }
        .mb-4{
            margin-bottom: 0.5rem;
            margin-top: 0.7rem;
        }
    </style>
</head>
<body>
<aside >
    <div th:insert="~{sidebar.html}" ></div>
</aside>
<!--<div th:insert="~{sidebar.html}"></div>-->
<div class="container">
    <!-- Department Form Section -->
    <div class="row">
        <div class="col">
            <h2 class="text-center mb-4">New Department</h2>
            <div class="form-container">
                <form action="#" th:action="@{/department/save}" th:object="${department}" method="post">
                    <div class="form-group">
                        <label for="name">Department Name</label>
                        <input type="text" class="form-control" id="deptName" th:field="*{deptName}">

                    </div>
                    <div class="text-center">
                        <button type="reset" class="btn btn-secondary mx-2">Reset</button>
                        <button type="submit" class="btn btn-success mx-2">Save</button>
                        <button type="button" class="btn btn-warning mx-2">Update</button> <!-- Update functionality not yet converted -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Department Table Section -->
    <div class="row mt-4">
        <div class="col">
            <h2 class="text-center mb-4">Departments Details</h2>
            <table class="table table-bordered">
                <thead class="text-center">
                <tr>
                    <th>ID</th>
                    <th>Department Name</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="row : ${deplist}">
                    <td th:text="${row.id}"></td>
                    <td th:text="${row.deptName}"></td>
                    <td>
                        <a class="btn btn-warning mx-1" th:href="@{'/department/edit/' + ${row.id}}">Update</a>
                        <a class="btn btn-danger mx-1" th:href="@{'/department/delete/' + ${row.id}}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-06fwefnKnhYzm3uoX3sYPpK3w3/nDRl0tqjt5z8HJCY8iK+jQGUp3FkzKgviyUoL"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shCk+2l5dLev+6mGgffgPeWg4wo5aq0w6PwMW"
        crossorigin="anonymous"></script>
</body>
</html>



